@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
img, object, embed, video {
    max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width:100%;
}

/*
        Dreamweaver Fluid Grid Properties
        ----------------------------------
        dw-num-cols-mobile:		4;
        dw-num-cols-tablet:		8;
        dw-num-cols-desktop:	10;
        dw-gutter-percentage:	25;
        
        Inspiration from "Responsive Web Design" by Ethan Marcotte 
        http://www.alistapart.com/articles/responsive-web-design
        
        and Golden Grid System by Joni Korpi
        http://goldengridsystem.com/
*/

a{
    font-family:"Myriad Pro";
    text-decoration:none;
    color:#FFF;
}
a:hover{
    text-decoration:none;
    color:#999;
}

p{
    font-family:"Myriad Pro";
}
h1, h2, h3, h4{
    font-family:"Myriad Pro";
}


/* Mobile Layout: 480px and below. */
body{
    background-image:url(../images/background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}
.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin:auto;
}

img#logogris{
    text-align:center;
    margin-left:27%;
    width:132px;
    height:115px;
}

img#Fabrica{
    position:absolute;
    bottom:0px;
}

.imagenmenu{
    width:50px;
    height:50px;
}


#LayoutDiv1 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

#BotonesArriba {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}
#btAtras {
    clear: none;
    float: left;
    margin-top:10px;
    margin-left:0%;
    width: 7%;
    display: block;
}
#btAtras a{
    text-decoration:none;
    color:#FFF;
}
#btAtras a:hover{
    text-decoration:none;
    font-weight:bold;
    color:#999;
}

#btMenu{
    clear: none;
    float: right;
    margin-top:10px;
    margin-left: 0%;
    width: 7%;
    display: block;
}






#Logo {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    text-align:center;
}
img#logo{
    width:35%;
}

#Slogan {
    clear: both;
    float: left;
    margin-top:10px;
    margin-left: 0;
    width: 100%;
    display: block;
    text-align:center;
    color:#FFF;
    font-size:14px;
    background-color:rgba(0,0,0,.5);
    background-repeat:no-repeat;
}

#ImgSlogan {
    clear: none;
    float: left;
    margin-left: 0%;
    width: 17%;
    display: block;

}


#parrafo {
    clear: none;
    float: left;
    margin-left:0%;
    width: 83%;
    display: block;
    text-align:center;

}

#Slogan p{
    padding-top:7px;
    text-align:center;
    margin-left:0%;
}
img#BT{
    width:60px;
    height:60px;
}

#Slogan2 {

    display: block;
    clear: both;
    float: left;
    margin-top:5px;
    margin-left: 0;
    width: 100%;
    display: block;
    text-align:center;
    color:#FFF;
    font-size:12px;

}
#Slogan2 p{
    text-align:center;
    margin-left:7%;
}







#Informacion {
    clear: both;
    float: left;
    margin-top:7px;
    margin-left: 0;
    width: 100%;
    display: block;
    background-color:rgba(255,255,255,.4);

}


#logoTienda {
    clear: none;
    float: left;
    margin-left:0%;
    width: 47.3684%;
    display: block;


}

#informacionTienda {
    clear: none;
    float: left;
    margin-left:0%;
    width: 52%;
    height:100px;
    display: block;
    /*background-color:rgba(255,255,255,.3);*/



}
#informacionTienda p{
    color:#333;
    font-family:"Myriad Pro";
    font-size:14px;
    margin-top:10px;
    margin-left:10px;
    text-align:left;
}

#Descripcion {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    text-align:justify;
    background-color:rgba(0,0,0,.3);

}
#Descripcion p{
    color:#FFF;
    font-family:"Myriad Pro";
    font-size:14px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    text-align:justify;
}


#Botonera {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

.menu{
    width: 100%;   
    padding: 0px;
}
.menu li{
    list-style-type: none;
    margin-left:0px;
}

.menu li:first-child
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:solid rgba(255,255,255,1) thin;
    border-top:solid rgba(255,255,255,1) thin;
}
.menu li:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom:solid rgba(255,255,255,1) thin;
    padding-bottom: 5px;
}
.menu li{
    font-family: "Myriad Pro";
    font-size: 14px;
    /*    color:;
        background-color:;*/
    opacity:1;
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
    background-position: 15px 9px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    padding-top: 7px;
    border-bottom:solid #FFF thin;
    text-align:left;

}
.menu li:active{
    opacity:1;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color:#FFF;
}
.menu li:hover{
    opacity:1;
    background-color:rgba(47,47,47,0.6);
    border:none;
    height:45px;
}

.menu .go{
    display: inline-block;
    height: 45px;
    width: 25px;
    float: right;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: left center;
}
.menu .ciudad{
    background-image:url(../images/ciudad.svg);
}
.menu .cc{
    background-image:url(../images/cc.svg);
}
.menu .categoria{
    background-image: url(../images/categoria.svg);
}

#btbuscar{
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    background-color:rgba(0,0,0,.6);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:30px;
    text-align:center;


}

#btbuscar a{
    text-align:center;
    color:#FFF;
    display:inline-block;
    padding-top:7px;
    height:30px;
    width:100%;
}

#EscribeAqui {
    clear: both;
    float: left;
    margin-top:10px;
    margin-left: 0;
    width: 100%;
    height:50px;
    display: block;
    text-align:center;

}
input#Buscar{
    background-color:#CCC;
    text-align:center;
    color:#666;
    width:100%;
    height:50px;
    display:inline-block;
}

#Slider {
    float:left;
    clear: both;
    margin-top:10px;
    margin-left: 0;
    width: 100%;
    display: block;

}




/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
    body{
        background-image:url(../images/background.jpg);
        background-repeat:no-repeat;
        background-size: 100% auto;
    }	

    .gridContainer {
        width: 97.5%;
        padding-left: 1.25%;
        padding-right: 1.25%;
    }


    img#logogris{
        text-align:center;
        margin-left:35%;
    }


    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #BotonesArriba {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    #btAtras {
        clear: none;
        float: left;
        margin-left:0%;
        width: 4%;
        display: block;
    }

    #btAtras a{
        font-size:16px;
    }

    #btMenu{
        clear: none;
        float: right;
        margin-top:10px;
        margin-left: 0%;
        width: 4%;
        display: block;
    }



    #Logo {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    img#logo{
        width:20%;

    }
    #Slogan {
        clear: both;
        float: left;
        margin-top:10px;
        margin-left: 0;
        width: 100%;
        display: block;
        text-align:center;
        color:#FFF;
        font-size:16px;
        background-color:rgba(0,0,0,.5);
        background-repeat:no-repeat;
    }

    #ImgSlogan {
        clear: none;
        float: left;
        margin-left:0;
        width: 20%;
        display: block;
        text-align:center;

    }
    img#BT{
        text-align:center;
        width:70px;
        height:70px;
        display:inline-block;
        margin-left:0;
    }

    #parrafo {
        clear: none;
        float: left;
        margin-left:0%;
        width: 70%;
        display: block;
        text-align:center;

    }

    #Slogan p{
        padding-top:10px;
        text-align:center;
    }
    img#BT{
        width:70px;
        height:70px;
    }



    #Slogan2 {
        clear: both;
        float: left;
        margin-top:5px;
        margin-left: 0;
        width: 100%;
        display: block;
        text-align:center;
        color:#FFF;
        font-size:15px;

    }

    #Informacion {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;

    }




    #logoTienda {
        clear: none;
        float: left;
        margin-left: 0%;
        width: 23%;
        height:114px;
        display: block;
        background: #FFF;
        text-align: center;

    }

    #informacionTienda {
        clear: none;
        float: left;
        margin-left: 0%;
        width: 74.3589%;
        height:114px;
        display: block;

    }
    #informacionTienda p{
        font-size:18px;
    }

    #Descripcion {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;

    }
    #Descripcion p{
        font-size:18px;
    }


    #Botonera {
        clear: both;

        margin-top:15px;

        width: 100%;
        display:block;
        text-align:center;
    }





    #Slider {
        clear: both;
        margin-top:20px;
        margin-left: 0;
        width: 100%;
        display: block;

    }



    #Informacion {
        clear: both;

        float: left;

        margin-left: 0;

        width: 100%;

        display: block;

    }




    #logoTienda {
        clear: none;

        float: left;

        margin-left: 0%;

        width: 23%;

        display: block;
        background: #FFF;
        text-align: center;

    }

    #informacionTienda {
        clear: none;

        float: left;

        margin-left: 2.5641%;

        width: 74.3589%;

        display: block;

    }

    #Descripcion {
        clear: both;

        float: left;

        margin-left: 0;

        width: 100%;

        display: block;

    }








}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
    .gridContainer {
        width:100%;
        max-width: 1232px;
        padding-left: 0.2%;
        padding-right: 0.2%;
        margin: auto;
    }


    img#logogris{
        text-align:center;
        margin-left:30%;
    }


    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #BotonesArriba {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    #btAtras {
        clear: none;
        float: left;
        margin-left:0%;
        width: 4%;
        display: block;
    }
    #btAtras a{
        font-size:20px;
    }



    #Logo {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    img#logo{
        width:12%;

    }


    #Slogan {
        clear: both;
        float: left;
        margin-top:10px;
        margin-left: 0;
        width: 100%;
        display: block;
        text-align:center;
        color:#FFF;
        font-size:18px;
        background-color:rgba(0,0,0,.5);
        background-repeat:no-repeat;
    }

    #Slogan2 {
        clear: both;
        float: left;
        margin-top:5px;
        margin-left: 0;
        width: 100%;
        display: block;
        text-align:center;
        color:#FFF;
        font-size:15px;

    }


    #Botonera{
        clear: both;
        float: left;
        margin-left:0%;
        width: 100%;
        display: block;
        text-align:center;
    }





    #Slider {
        clear: both;
        margin-top:20px;
        margin-left: 0;
        width: 100%;
        display: block;
        text-align:center;

    }

    #style {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #center {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #Slogan2 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #btbuscar {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #EscribeAqui {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #ImgSlogan {
        clear: none;
        float: left;
        margin-left: 2.0408%;
        width: 100%;
        display: block;
    }

    #parrafo {
        clear: none;
        float: left;
        margin-left: 2.0408%;
        width: 100%;
        display: block;
    }

    #Arriba {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #Informacion {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv2 {
        clear: none;
        float: left;
        margin-left: 2.0408%;
        width: 100%;
        display: block;
    }

    #LogoTienda {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #logoTienda {
        clear: none;
        float: left;
        margin-left: 2.0408%;
        width: 18.3673%;
        display: block;
        background: #FFF;
        text-align: center;
    }

    #informacionTienda {
        clear: none;
        float: left;
        margin-left: 2.0408%;
        width: 69.3877%;
        display: block;
    }

    #Descripcion {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }




}
img#logogris{
    height: auto;
}
#logoTienda{
    background-color: #fff;
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:50%;
    background-position-x:50%;
    width: 150px;
    height: 114px;
}
#informacionTienda p label{
    text-transform: none;
}