@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
img, object, embed, video {
    max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width:100%;
}

/*
        Dreamweaver Fluid Grid Properties
        ----------------------------------
        dw-num-cols-mobile:		4;
        dw-num-cols-tablet:		8;
        dw-num-cols-desktop:	10;
        dw-gutter-percentage:	25;
        
        Inspiration from "Responsive Web Design" by Ethan Marcotte 
        http://www.alistapart.com/articles/responsive-web-design
        
        and Golden Grid System by Joni Korpi
        http://goldengridsystem.com/
*/

a{
    font-family:"Myriad Pro";
    text-decoration:none;
    color:#FFF;
}
a:hover{
    text-decoration:none;
    color:#999;
}

p{
    font-family:"Myriad Pro";
}
h1, h2, h3, h4{
    font-family:"Myriad Pro";
}


/* Mobile Layout: 480px and below. */
body{
    background-image:url(../images/background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;

}
.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin:auto;
}

img#logogris{
    text-align:center;
    margin-left:27%;
    width:132px;
    height:115px;
}

img#Fabrica{
    position:absolute;
    bottom:0px;
}

.imagenmenu{
    width:50px;
    height:50px;
}


#LayoutDiv1 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

#BotonesArriba {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}
#btAtras {
    clear: none;
    float: left;
    margin-top:10px;
    margin-left:0%;
    width: 7%;
    display: block;
}
#btAtras a{
    text-decoration:none;
    color:#FFF;
}
#btAtras a:hover{
    text-decoration:none;
    font-weight:bold;
    color:#999;
}

#btMenu{
    clear: none;
    float: right;
    margin-top:10px;
    margin-left: 0%;
    width: 7%;
    display: block;
}






#Logo {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    text-align:center;
}
img#logo{
    width:35%;
}


#Mapa {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    height:100%;
    display: block;

}

#btcerrar{
    width:7%;
    margin-left:74%;
}

#Imagenmapa{
    clear: both;
    float: left;
    margin-left: 0;
    width: 90%;
    display: block;
    position: fixed;
    top:0;
    left:0;
    height: 100%;

}
#BotonesLateral #cerrar{
    /*    transform: rotate(90deg);
        -webkit-transform: rotate(90deg);*/
    bottom: 0;
    position: fixed;
    width:10%;
    margin-bottom: 1%;


}
#BotonesLateral #paso1{
    /*    transform: rotate(90deg);
        -webkit-transform: rotate(90deg);*/
    height: 50%;
    margin: auto;
    top: 50%;
    position: fixed;
    width: 6%;
    float:left;
    margin-left:4%; 
}
#BotonesLateral #paso1 p {
    position: fixed;
    top: 50%;
    right: 0;
    margin:0px;
    margin-right: -3%;
    /*        width:5%;
            height: 100%;*/
    /*-webkit-transform: rotate(90deg);*/
}
#BotonesLateral label {
    position: fixed;
    top: 50%;
    right: 0;
    margin:0px;
    margin-right: -3%;
    /*        width:5%;
            height: 100%;*/
    /*-webkit-transform: rotate(90deg);*/
}
img#mapa{
    width:100%;
    height:100%;
}

#BotonesLateral {
    clear: both;
    float: right;
    margin-left: 0;
    /*margin-top:-124%;*/
    width: 10%;
    /*height: 100%;*/
    display: block;
    position: absolute;
    right: 0%;
    background-color: rgba(0,0,0,.7);
    /*top: 409px;*/
    color:#FFF;
    height: 100%;
    top:0;

}



#paso1{

}
#siguiente a{
    color:#FFF;
    text-decoration:none;
}
#siguiente a:hover{
    color:#666;
}
#ubicacion {
    clear: both;
    float: left;
    margin-left: 0;
    width: 80%;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,.7);


}

#estasAqui {
    clear: both;
    float: left;
    margin-left:5%;
    width: 40%;
    display: block;


}

#vasAca {
    clear: none;
    float: left;
    margin-left:3%;
    width: 40%;
    display: block;

}

.puntero {
    clear: none;
    float: left;
    margin-left: 0%;
    width: 100%;
    display: block;

}
.puntero img{
    width:100%;
}






















/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
    body{
        background-image:url(../images/background.jpg);
        background-repeat:no-repeat;
        background-size: 100% auto;

    }	

    .gridContainer {
        width: 97.5%;
        padding-left: 1.25%;
        padding-right: 1.25%;
    }


    img#logogris{
        text-align:center;
        margin-left:35%;
    }


    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #BotonesArriba {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    #btAtras {
        clear: none;
        float: left;
        margin-left:0%;
        width: 4%;
        display: block;
    }

    #btAtras a{
        font-size:16px;
    }

    #btMenu{
        clear: none;
        float: right;
        margin-top:10px;
        margin-left: 0%;
        width: 4%;
        display: block;
    }



    #Logo {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    img#logo{
        width:20%;
    }


    #Mapa {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;

    }

    #Imagenmapa{
        clear: both;
        float: left;
        margin-left: 0;
        width: 95%;
        display: block;
        position: fixed;
        top:0;
        left:0;
        height: 100%;
    }

    #BotonesLateral {
        clear: both;
        float: right;
        margin-left: 0;
        /*margin-top:-45%;*/
        width: 5%;
        /*height:100%;*/
        display: block;
        position: fixed;
        right:0px;
        background-color:rgba(0,0,0,.7);

        height: 100%;
        top:0;

    }

    #ubicacion {
        clear: both;
        float: left;
        margin-left: 0;
        width: 90%;
        height: 50px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgba(255,255,255,.7);


    }

    #estasAqui {
        clear: both;
        float: left;
        margin-left:5%;
        width: 45%;
        display: block;


    }

    #vasAca {
        clear: none;
        float: left;
        margin-left:3%;
        width: 45%;
        display: block;

    }

    .puntero {
        clear: none;
        float: left;
        margin-left: 0%;
        width: 100%;
        display: block;

    }
    .puntero img{
        width:100%;
        height:50px;;
    }

    #BotonesLateral #paso1 {
        /*        transform: rotate(90deg);
                -webkit-transform: rotate(90deg);*/
        height: 50%;
        margin: auto;
        top: 50%;
        position: fixed;
        width: 3%;
        float:left;
        margin-left:2%; 

    }
    #BotonesLateral #paso1 p {
        position: fixed;
        top: 50%;
        right: 0;
        margin:0px;
        margin-right: -2%;
        /*        width:5%;
                height: 100%;*/
        -webkit-transform: rotate(90deg);
    }
    #BotonesLateral #cerrar{
/*        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);*/
        bottom: 0;
        position: fixed;
        width:5%;
        margin-bottom: 1%;
    }




}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
    .gridContainer {
        width:100%;
        max-width: 1232px;
        padding-left: 0.2%;
        padding-right: 0.2%;
        margin: auto;
    }


    img#logogris{
        text-align:center;
        margin-left:30%;
    }


    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #BotonesArriba {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    #btAtras {
        clear: none;
        float: left;
        margin-left:0%;
        width: 4%;
        display: block;
    }
    #btAtras a{
        font-size:20px;
    }



    #Logo {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    img#logo{
        width:12%;

    }


    #Mapa {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;

    }

    #Imagenmapa{
        clear: both;
        float: left;
        margin-left: 0;
        width: 95%;
        display: block;
        position: fixed;
        top:0;
        left:0;
        height: 100%;
    }

    #BotonesLateral {
        clear: both;
        float: right;
        margin-left: 0;
        /*margin-top:-23%;*/
        width: 5%;
        /*height:100%;*/
        display: block;
        position: fixed;
        right:0px;
        background-color:rgba(0,0,0,.7);
        height: 100%;
        top:0;

    }

    #ubicacion {
        clear: both;
        float: left;
        margin-left: 0;
        width: 95%;
        height:50px;
        display: block;
        position: absolute;
        bottom:0%;
        left:0;
        background-color:rgba(255,255,255,.7);


    }

    #estasAqui {
        clear: both;
        float: left;
        margin-left:5%;
        width: 47,5%;
        display: block;


    }

    #vasAca {
        clear: none;
        float: left;
        margin-left:3%;
        width: 47,5%;
        display: block;

    }

    .puntero {
        clear: none;
        float: left;
        margin-left: 0%;
        width: 100%;
        display: block;

    }
    .puntero img{
        width:100%;
        height:50px;;
    }

    #BotonesLateral #paso1{
        /*        transform: rotate(90deg);
                -webkit-transform: rotate(90deg);*/
        height: 50%;
        margin: auto;
        top: 50%;
        position: fixed;
        width: 3%;
        float:left;
        margin-left:2%; 
    }
    #BotonesLateral #paso1 p {
        position: fixed;
        top: 50%;
        right: 0;
        margin:0px;
        margin-right: -1%;
        /*        width:5%;
                height: 100%;*/
        -webkit-transform: rotate(90deg);
    }
    #BotonesLateral #cerrar{
/*        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);*/
        bottom: 0;
        position: fixed;
        width:5%;
        margin-bottom: 1%;
    }

}


#cerrar{
    /*height: 10%;*/
}
img#logogris{
    height: auto;
}