@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

a{
	font-family:"Myriad Pro";
	text-decoration:none;
	color:#FFF;
}
a:hover{
	text-decoration:none;
	color:#999;
}

p{
	font-family:"Myriad Pro";
}
h1, h2, h3, h4{
	font-family:"Myriad Pro";
}

/* Mobile Layout: 480px and below. */
body{
	background-image:url(../images/background.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin:auto;
}

img#logogris{
	text-align:center;
	margin-left:27%;
	width:132px;
	height:115px;
}

img#Fabrica{
	position:absolute;
	bottom:0px;
}

.imagenmenu{
	width:50px;
	height:50px;
}


#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#BotonesArriba {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#btAtras {
	clear: none;
	float: left;
	margin-top:10px;
	margin-left:0%;
	width: 7%;
	display: block;
}
#btAtras a{
	text-decoration:none;
	color:#FFF;
}
#btAtras a:hover{
	text-decoration:none;
	font-weight:bold;
	color:#999;
}

#btMenu{
	clear: none;
	float: right;
	margin-top:10px;
	margin-left: 0%;
	width: 7%;
	display: block;
}






#Logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align:center;
}
img#logo{
	width:35%;
}


#Mapa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        text-align: center;

}

#BotonesLateral {
	clear: both;
	float: right;
	margin-left: 0;
	margin-top:74px;
	width: 20%;
	height:100%;
	display: block;
	position: absolute;
	right:0px;
	background-color:rgba(0,0,0,.7);

}

#promocion{
    max-width: 80%;
    min-width: 80%;
}

#informacion{
    color: #FFF;
    font-family: "Myriad Pro";
    font-size: 18px;
    margin: auto;
    text-align: left;
    max-width: 80%;
    min-width: 80%;
}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
body{
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	background-size: 100% auto;
}	
	
.gridContainer {
	width: 97.5%;
	padding-left: 1.25%;
	padding-right: 1.25%;
}


img#logogris{
	text-align:center;
	margin-left:35%;
}


#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#BotonesArriba {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#btAtras {
	clear: none;
	float: left;
	margin-left:0%;
	width: 4%;
	display: block;
}

#btAtras a{
	font-size:16px;
}

#btMenu{
	clear: none;
	float: right;
	margin-top:10px;
	margin-left: 0%;
	width: 4%;
	display: block;
}



#Logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

img#logo{
	width:20%;
}


#Mapa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        text-align: center;

}

#BotonesLateral {
	clear: both;
	float: right;
	margin-left: 0;
	margin-top:74px;
	width: 10%;
	height:100%;
	display: block;
	position: fixed;
	right:0px;
	background-color:rgba(0,0,0,.7);

}


#promocion{
    max-width: 80%;
    min-width: 80%;
}

#informacion{
    color: #FFF;
    font-family: "Myriad Pro";
    font-size: 18px;
    margin: auto;
    text-align: justify;
    max-width: 80%;
    min-width: 80%;
}




}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width:100%;
	max-width: 1232px;
	padding-left: 0.2%;
	padding-right: 0.2%;
	margin: auto;
}


img#logogris{
	text-align:center;
	margin-left:30%;
}


#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#BotonesArriba {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#btAtras {
	clear: none;
	float: left;
	margin-left:0%;
	width: 4%;
	display: block;
}
#btAtras a{
	font-size:20px;
}



#Logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
img#logo{
	width:12%;

}


#Mapa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        text-align: center;

}

#BotonesLateral {
	clear: both;
	float: right;
	margin-left: 0;
	margin-top:74px;
	width: 5%;
	height:100%;
	display: block;
	position: fixed;
	right:0px;
	background-color:rgba(0,0,0,.7);

}

#promocion{
    max-width: 80%;
    min-width: 80%;
}

#informacion{
    color: #FFF;
    font-family: "Myriad Pro";
    font-size: 18px;
    margin: auto;
    text-align: justify;
    max-width: 80%;
    min-width: 80%;
}

}
img#logogris{
    height: auto;
}